port=53
interface=%INTERFACE%
bind-interfaces
except-interface=lo

bogus-priv

user=pi
group=pi

cache-size=1000

strict-order

# per-interface configurations
conf-dir=/home/pi/.firewalla/config/dnsmasq/%INTERFACE_UUID%
# global configurations
conf-dir=/home/pi/.firewalla/config/dnsmasq/
# user local configurations
conf-dir=/home/pi/.firewalla/config/dnsmasq_local

resolv-file=/home/pi/.router/config/dnsmasq/%INTERFACE%.resolv.conf

pid-file=/home/pi/.router/run/dnsmasq/dnsmasq.%INTERFACE%.pid