[Unit]
Description=FireRouter DHCP
After=network.target

[Service]
User=root
Type=simple
Restart=always
WorkingDirectory=%WORKING_DIRECTORY%
ExecStart=/bin/bash %DHCP_DIRECTORY%/dhcp.sh
# match on config file
ExecReload=/usr/bin/pkill -f -HUP dnsmasq.dhcp

[Install]
WantedBy=multi-user.target
