[Unit]
Description=FireRouter Wireless AP Daemon on %i
After=network.target

[Service]
Restart=always
RestartSec=3
ExecStart=/bin/bash %HOSTAPD_DIRECTORY%/hostapd.sh %i
RemainAfterExit=true
