[Unit]
Description=FireRouter DNS
After=network.target

[Service]
User=root
Type=simple
Restart=on-failure
WorkingDirectory=%WORKING_DIRECTORY%
ExecStart=/bin/bash %DNS_DIRECTORY%/dns.sh
# match on config file
ExecReload=/usr/bin/pkill -f -HUP dnsmasq.dns
TimeoutStopSec=2

[Install]
WantedBy=multi-user.target
