[Unit]
Description=FireBoot
Requires=firerouter.service
After=firerouter.service

[Service]
User=pi
Type=oneshot
WorkingDirectory=/home/pi/firerouter/
ExecStart=/home/pi/firerouter/bin/fireboot

[Install]
WantedBy=multi-user.target
