[Unit]
Description=FireRouter DHCP Client
After=network.target

[Service]
Restart=always
ExecStart=/sbin/dhclient -1 -cf "/home/pi/.router/config/dhclient/%i.conf" -pf "/run/dhclient.%i.pid" -lf "/var/lib/dhcp/dhclient.%i.leases" %i -e rt_tables="main %i_local %i_default" -e default_rt_tables="main %i_default"
RemainAfterExit=true
RestartSec=3