[Unit]
Description=FireRouter DHCPv6 Client
After=network.target

[Service]
Restart=always
ExecStart=/sbin/dhcpcd -6 -t 0 -f "/home/pi/.router/config/dhcpcd6/%i.conf" %i -e rt_tables="main %i_local" -e default_rt_tables="main %i_default"
RemainAfterExit=true