
[Unit]
Description=FireRouter UPnP Daemon
After=network.target

[Service]
Restart=always
ExecStart=/bin/bash -c '/usr/sbin/miniupnpd -d -P "/var/run/miniupnpd.%i.conf" -f "/home/pi/.router/config/upnp/%i.conf" > /dev/null 2>&1'
RemainAfterExit=true