[Unit]
Description=FireRouter DHCPv6 Client
After=network.target

[Service]
Restart=always
ExecStart=/bin/bash -c '/home/pi/firerouter/scripts/start_dhcpcd_service.sh %i >/dev/null 2>&1'
RemainAfterExit=true
RestartSec=3