[Unit]
Description=FireRouter
After=network.target

[Service]
User=pi
Restart=always
RestartSec=1
WorkingDirectory=/home/pi/firerouter/service
#ExecStart=/bin/bash -c '/home/pi/firerouter/bin/node bin/main.js >> /home/pi/.forever/router.log 2>&1'
ExecStart=/bin/bash -c '/home/pi/firerouter/bin/node bin/main.js 2>&1 | tee -a /home/pi/.forever/router.log &>/dev/null'

[Install]
WantedBy=multi-user.target
