[Unit]
Description=FireRouter DHCPv6 Client
After=network.target

[Service]
Restart=always
ExecStart=bash /home/pi/firerouter/scripts/start_dhcpcd_service.sh %i
RemainAfterExit=true
RestartSec=3